body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  #main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #img-caption {
    text-align: center;
    font-style: italic;
    color: #777;
  }
  
  #tribute-info {
    text-align: justify;
    margin-top: 20px;
    line-height: 1.5;
  }
  
  #tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  #tribute-link:hover {
    text-decoration: underline;
  }